#friends-display-link {
  text-align: center;
  display: block;
  background-color: #fafafa;
  padding: 15px 0px;
}

.fa-info-circle {
  color: #d1d5db;
}

.fa-chevron-right {
  color: #d1d5db;
  padding-left: 10px;
  font-size: 7px;
}

.friends-screen__channel {
  margin-top: 25px;
  border-top: var(--main-border);
  padding-top: 25px;
}

.friends-screen__channel-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.fa-chevron-up {
  color: rgba(0, 0, 0, 0.2);
}

.friends-screen {
  padding: 0px var(--horizontal-space);
  margin-top: 10px;
}
